@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --section-title: #070439;
  --section-title-opacity: #141244c7;
  --section-link: #3c9f8f;
  --bg-acsess: #585989;
  --button-primary: #3065f8;
  --button-primary-white: #4e7cfa;
  --shadow-card: -2px 2px 13px rgb(0 0 0 / 20%);
  --font-title: "Raleway", Arial, Helvetica, sans-serif;
  --font-text: "open-sans", Arial, Helvetica, sans-serif;
}

.navbar-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-container .navbar ul li {
  display: inline-block;
  margin: 1rem;
}

.navbar-container .navbar ul li a {
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--section-title);
}

.section1 {
  width: 90%;
  margin: 0 auto 12rem;
  gap: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(200px, 700px);
      grid-template-columns: 1fr minmax(200px, 700px);
}

.section1 .illustration1 {
  width: 400px;
  min-width: 100%;
}

.section1 .section-text {
  margin-top: 5rem;
}

.section1 .section-text h2 {
  font-family: var(--font-title);
  color: var(--section-title);
  font-size: 2.5rem;
  line-height: 3.7rem;
  margin-bottom: 1rem;
}

.section1 .section-text p {
  font-family: var(--font-text);
  color: var(--section-title);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.section1 .section-text input {
  width: 300px;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.8rem;
  outline: none;
}

.section1 .section-text button {
  width: 200px;
  margin: 0 1rem;
  background-color: var(--button-primary);
  font-weight: bold;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 .section-text button:hover {
  cursor: pointer;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background-color: var(--button-primary-white);
}

.bg-curve {
  position: relative;
  bottom: -4px;
  width: 100%;
}

.section2 {
  background-color: #f8f8fe;
  height: 110vh;
}

.section2 .section-content {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(200px, 600px);
      grid-template-columns: 1fr minmax(200px, 600px);
}

.section2 .section-content .illustration2 {
  width: 90%;
}

.section2 .section-content .section-text2 h2 {
  margin: 0rem 0 2rem;
  font-family: var(--font-title);
  font-size: 2.5rem;
  color: var(--section-title);
}

.section2 .section-content .section-text2 .text {
  font-family: var(--font-text);
  color: var(--section-title);
  line-height: 1.6rem;
  width: 600px;
  margin-bottom: 1rem;
}

.section2 .section-content .section-text2 a {
  text-decoration: none;
  border-bottom: 2px solid var(--section-link);
  padding: 0.2rem 0;
  color: var(--section-link);
  font-family: var(--font-text);
}

.section2 .card {
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  position: absolute;
  padding: 1.5rem;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  border-radius: 0.4rem;
  margin: 2rem 0;
}

.section2 .card .text-card {
  position: relative;
  width: 280px;
  font-family: var(--font-text);
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.section2 .card .text-card-simbol {
  font-size: 1.6rem;
}

.section2 .card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.section2 .card-profile .profile {
  width: 34px;
  height: 34px;
  margin-right: 0.8rem;
  border-radius: 1rem;
}

.section2 .card-profile .profile-text {
  font-family: var(--font-text);
  display: block;
}

.section2 .card-profile .profile-text p {
  font-family: var(--font-text);
  font-size: 0.7rem;
}

.section3 {
  background-color: var(--bg-acsess);
}

.section3 .section-access {
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(200px, 600px);
      grid-template-columns: 1fr minmax(200px, 600px);
}

.section3 .section-access .info-text h1 {
  color: white;
  font-family: var(--font-title);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section3 .section-access .info-text p {
  color: #e0e0e0;
  font-family: var(--font-text);
  width: 480px;
}

.section3 .form-info {
  margin: 0 auto;
  font-family: var(--font-title);
}

.section3 .form-info input {
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem;
  display: block;
  width: 350px;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  outline: none;
}

.section3 .form-info button {
  border: none;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  background-color: var(--button-primary);
  color: white;
  width: 200px;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.section3 .form-info button:hover {
  cursor: pointer;
}

.footer {
  background-color: var(--section-title);
}

.footer .cols {
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .cols .col {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer .cols .col .logo-footer {
  -webkit-filter: invert(80%);
          filter: invert(80%);
  margin-bottom: 2rem;
}

.footer .cols .col h3 {
  margin-left: 1rem;
  color: white;
  font-family: var(--font-text);
  font-weight: 300;
}

.footer .cols .col .line-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .cols .col .line-email {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .cols .col li {
  font-family: var(--font-text);
  list-style: none;
  text-decoration: none;
  color: white;
  line-height: 2rem;
}

.footer .cols .col .icon {
  font-size: 1.2rem;
  border: 1px solid white;
  border-radius: 100%;
  padding: .8rem;
  -webkit-transition: .3s;
  transition: .3s;
  margin: .3rem;
}

.footer .cols .col .icon:hover {
  border: 1px solid var(--button-primary-white);
}

@media (min-width: 800px) {
  .section2 {
    max-height: 100vh;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-container .navbar ul li {
    margin: 0 .2rem;
  }
  .navbar-container .logo {
    width: 68px;
  }
  .section1 {
    display: block;
    margin: 0 auto 1rem;
  }
  .section1 .illustration1 {
    width: 200px;
  }
  .section1 .section-text {
    text-align: center;
  }
  .section1 .section-text h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .section1 .section-text p {
    margin: 2rem auto;
    font-size: 1rem;
  }
  .section1 .section-text button {
    width: 300px;
    margin: 1rem 0;
  }
  .section2 {
    height: 130vh;
  }
  .section2 .section-content {
    display: block;
  }
  .section2 .section-content .section-text2 h2 {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .section2 .section-content .section-text2 .text {
    font-size: 1rem;
    width: 100%;
  }
  .section2 .section-content .card {
    margin: 3rem 0;
  }
  .section3 .section-access {
    display: block;
  }
  .section3 .section-access .info-text h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .section3 .section-access .info-text p {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  .section3 .section-access .form-info input, .section3 .section-access button {
    width: 80%;
    display: block;
    margin: 1rem auto;
  }
  .section2 .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .section-content .illustration2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .section2 .section-content .section-text2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section2 .section-content .section-text2 h2 {
    text-align: center;
  }
  .section2 .section-content .section-text2 .link {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
  }
  .footer .cols {
    display: block;
  }
  .footer .cols .col-icon {
    width: 200px;
    margin: 1rem auto;
  }
  .footer .cols .col {
    margin-top: 1rem;
  }
  .footer .cols .col-2 {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */